.list {
  list-style: none;
  font-family: "Roboto Mono", monospace;
  color: #808082;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  margin-top: 72px;
  margin-left: 16px;
  padding: 0;
  @media (min-width: 1440px) {
    font-size: 16px;
  }
  &--item {
    margin: 8px 0 0 0;
  }
}

.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    &__description {
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      color: #425a70;
      max-width: 286px;
      text-align: center;
      margin: 0 0 46px 0;
      @media (min-width: 960px) {
        font-size: 20px;
        line-height: 40px;
        max-width: 830px;
      }
    }
    &__header {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      color: #234361;
      margin: 0 0 32px 0;
      @media (min-width: 960px) {
        font-size: 48px;
        line-height: 56px;
      }
    }
  }

.secondary-list {
  list-style: none;
  font-family: "Roboto Mono", monospace;
  color: #808082;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  padding: 0;
  margin-top: 48px;
  @media (min-width: 960px) {
    font-size: 16px;
  }
  &--item {
    margin: 8px 0 0 0;
  }
}
