@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 74px;
  &__title {
    margin: 0;
  }
  &__picture {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 16px solid #f6f9fd;
  }
}

.hello-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__header {
    color: #234361;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    font-style: normal;
    max-width: 288px;
    text-align: center;
  }
  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #425a70;
    max-width: 288px;
    margin: 0;
    text-align: center;
  }
  &__mail {
    margin: 44px 0 92px 0;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 4px 24px;
    background: #4da8ff;
    border-radius: 64px;
    line-height: 40px;
  }
}

.skills-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    margin: 0 0 24px 0;
  }
  &__list {
    color: #dbeaf7;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    margin: none;
    list-style: none;
    padding: 0 100px 0 0;
    &--item {
      margin: 12px 0px;
    }
    &--item::before {
      content: url(../assets/icons/small-tick.svg);
      margin-right: 12px;
    }
    &--other {
      margin: 12px 0px;
    }
    &--other::before {
      content: url(../assets/icons/small-tick2.svg);
      margin-right: 12px;
    }
    &--another {
      margin: 12px 0px;
    }
    &--another::before {
      content: "";
      display: inline-block;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: #dbeaf7;
      margin-right: 17px;
      margin-bottom: 4px;
    }
  }
}

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1070ca;
  padding: 64px 0;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin: 0;
  }
  &__emoji {
    display: flex;
    justify-content: center;
    font-size: 64px;
    margin: 64px 0 0 0;
  }
}

.github {
  width: 288px;
  background: #212528;
  min-height: 320px;
  border-radius: 16px;
  position: relative;
  margin-bottom: 24px;
  &__bar {
    background: #1e1e1e;
    height: 40px;
    border-radius: 16px 16px 0 0;
    display: flex;
    padding: 16px;
  }
  &__circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #464a4d;
    align-self: center;
    margin-right: 8px;
  }
  &__logo {
    position: absolute;
    top: 64px;
    left: 16px;
  }
  &__elements {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 4px;
  }
}

.list {
  list-style: none;
  font-family: "Roboto Mono", monospace;
  color: #808082;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  margin-top: 72px;
  margin-left: 16px;
  padding: 0;
  &--item {
    margin: 8px 0 0 0;
  }
}
.secondary-list {
  list-style: none;
  font-family: "Roboto Mono", monospace;
  color: #808082;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-align: right;
  padding: 0;
  margin-top: 48px;
  &--item {
    margin: 8px 0 0 0;
  }
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #425a70;
    max-width: 286px;
    text-align: center;
    margin: 0 0 46px 0;
  }
  &__header {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #234361;
    margin: 0 0 32px 0;
  }
}

.secondary-special {
  color: #4da8ff;
  font-weight: bold;
}

.special {
  color: #1070ca;
}

.date {
  font-family: "Roboto Mono", monospace;
  list-style: none;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  margin-top: 80px;
  grid-column: 2;
  grid-row: 1;

  &__name {
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
  }
  &__description {
    color: #a3a3a3;
    margin: 8px 0 24px 0;
  }
  &__homepage {
    color: #14b5d0;
    &--item {
      margin-bottom: 8px;
    }
    &--item::before {
      content: "<";
      color: #808082;
    }
    &--item::after {
      content: ">";
      color: #808082;
    }
  }
  &__github {
    color: #14b5d0;
    &--item::before {
      content: "<";
      color: #808082;
    }
    &--item::after {
      content: ">";
      color: #808082;
    }
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dbeaf7;
  padding-top: 64px;
  &__header {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #234361;
    margin: 0;
  }
  &__description {
    max-width: 286px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #425a70;
    text-align: center;
    margin: 32px 0 56px 0;
  }
  &__mail {
    margin: 64px 0 88px 0;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding: 4px 24px;
    background: #4da8ff;
    border-radius: 64px;
    line-height: 40px;
  }
}
.box {
  display: flex;
  justify-self: space-around;
  &__circle {
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
    margin: 0 12px 0 12px;
    transition: transform 400ms ease-in;
    opacity: 1;
  }
  &__circle:hover {
    @media screen and (min-width: 960px) {
      transform: scale(1.5);
      opacity: 0.7;
    }
  }
}
