@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap");
@import "modules/hello-section";
@import "modules/skills-section";
@import "modules/skills-article";
@import "modules/projects-section";
@import "modules/github";
@import "modules/date";
@import "modules/contact-section";
@keyframes hand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.secondary-special {
  color: #4da8ff;
  font-weight: bold;
}

.special {
  color: #1070ca;
  @media (min-width: 960px) {
    white-space: nowrap;
  }
}
